<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.mall.myPage.MyPageMapper">

	<!-- 주문/배송 조회 -->
	<!-- #{sb_searchMonth}앞 '-'는 GET방식으로 넘어갈 때 양수로 보여지게 하기 위해서 쿼리를 수정함 -->
	<select id="getNotCalMoney"
		parameterType="com.sol.mall.sale.bank.Account"
		resultType="java.lang.Integer">
		select sum(sd_total_price)
		from sale_delivery
		where
		sd_seller_id = #{sa_id}
		and sd_delivery_state = '구매확정'
		and
		sd_is_calculate = 'N'
	</select>

	<update id="doCaculate"
		parameterType="com.sol.mall.sale.bank.Account">
		update sale_delivery set
		sd_is_calculate = 'Y'
		where
		sd_seller_id = #{sa_id}
		and sd_delivery_state = '구매확정'
		and
		sd_is_calculate = 'Y'
	</update>

	<insert id="regAccount"
		parameterType="com.sol.mall.sale.bank.Account">
		insert into
		seller_account values(
		#{sa_id},#{sa_account_num},#{sa_account_bank})
	</insert>

	<select id="getAccount"
		parameterType="com.sol.mall.sale.bank.Account"
		resultType="com.sol.mall.sale.bank.Account">
		select * from seller_account
		where
		sa_id = #{sa_id}
	</select>

	<update id="modifyAccount"
		parameterType="com.sol.mall.sale.bank.Account">
		update seller_account set
		sa_account_num =
		#{sa_account_num}
		sa_account_bank = #{sa_account_bank}
		where
		sa_id =
		#{sa_id}
	</update>


</mapper>