<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.mall.sale.delivery.DeliveryMapper">


	<!-- =========================================== select ==================================================== -->
	
	<select id="getAllDelivery"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select * from sale_delivery where sd_delivery_state != '배송중' order by sd_order_date
	</select>

	<select id="getNewDeliverys"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select * from sale_delivery where sd_state_detail = '신규주문'
		order by sd_order_date
	</select>

	<select id="getCheckDeliverys"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select * from sale_delivery where sd_state_detail = '발주확인'
		order by sd_order_date
	</select>

	<select id="getAllDeliveryNum" resultType="java.lang.Integer">
		select count(*) from sale_delivery
	</select>


	<select id="getNewDeliveryNum" resultType="java.lang.Integer">
		select count(*) from sale_delivery where sd_state_detail = '신규주문'
	</select>

	<select id="getCheckDeliveryNum" resultType="java.lang.Integer">
		select count(*) from sale_delivery where sd_state_detail = '발주확인'
	</select>

	<!-- =========================================== update ==================================================== -->
	
	<update id="deliveryCheck"
		parameterType="com.sol.mall.sale.delivery.Delivery">
		update sale_delivery set sd_state_detail = #{sd_state_detail}, sd_check_date = #{sd_check_date}
		where sd_delivery_pno = #{sd_delivery_pno}
	</update>



</mapper>