<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.mall.myPage.MyPageMapper">
	<!-- <select id="searchOrderList"
		parameterType="com.sol.mall.myPage.SearchOrder"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select *
		from sale_delivery
		where ((sd_customer_id = #{sd_customer_id} and sd_claim is null)
		or ((sd_customer_id = #{sd_customer_id} and sd_claim not like '%'||'교환'||'%')
			 and (sd_customer_id = #{sd_customer_id} and sd_claim not like '%'||'취소'||'%')
			 and (sd_customer_id = #{sd_customer_id} and sd_claim not like '%'||'반품'||'%'))
		) 
		and sd_order_date between (select add_months(SYSDATE, -#{sb_searchMonth}) from dual) and (select SYSDATE from dual)
	#{sb_searchMonth}앞 '-'는 GET방식으로 넘어갈 때 양수로 보여지게 하기 위해서 쿼리를 수정함
	</select> -->
	
	<select id="searchoo"
		parameterType="hashmap"
		resultType="com.sol.mall.myPage.SearchOrder2">
		select * 
		from sale_delivery, goods_tb
		where ((sd_customer_id = #{searchOrder2.sd_customer_id} and sd_claim is null)
		or ((sd_customer_id = #{searchOrder2.sd_customer_id} and sd_claim not like '%'||'교환'||'%')
			 and (sd_customer_id = #{searchOrder2.sd_customer_id} and sd_claim not like '%'||'취소'||'%')
			 and (sd_customer_id = #{searchOrder2.sd_customer_id} and sd_claim not like '%'||'반품'||'%'))
		)
		and gd_no = sd_product_no and sd_customer_id = #{searchOrder2.sd_customer_id}
		and (sd_order_date between (select add_months(SYSDATE, -#{searchOrder1}) from dual) and (select SYSDATE from dual))
	</select>
	
	<select id="searchClaimedOrderList"
		parameterType="com.sol.mall.myPage.SearchOrder"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select *
		from sale_delivery
		where ((sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'취소'||'%')
		or (sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'교환'||'%')
		or (sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'반품'||'%')) 
		and sd_order_date between (select add_months(SYSDATE, -#{sb_searchMonth}) from dual) and (select SYSDATE from dual)
	<!-- #{sb_searchMonth}앞 '-'는 GET방식으로 넘어갈 때 양수로 보여지게 하기 위해서 쿼리를 수정함 -->
	</select>
	
	<update id="cancelOrder" parameterType="com.sol.mall.sale.delivery.Delivery">
		update sale_delivery
		set sd_claim = '취소접수'
		where sd_delivery_pno = #{sd_delivery_pno}
	</update>
	
	<update id="exchangeOrder" parameterType="com.sol.mall.sale.delivery.Delivery">
		update sale_delivery
		set sd_claim = '교환접수'
		where sd_delivery_pno = #{sd_delivery_pno}
	</update>
	
	<update id="returnOrder" parameterType="com.sol.mall.sale.delivery.Delivery">
		update sale_delivery
		set sd_claim = '반품접수'
		where sd_delivery_pno = #{sd_delivery_pno}
	</update>
	
	<select id="searchClaimList"
			parameterType="com.sol.mall.myPage.SearchOrder"
			resultType="com.sol.mall.sale.delivery.Delivery">
		select sd_delivery_pno, sd_delivery_no, sd_product_name, sd_delivery_state, sd_amount, sd_option_info, sd_total_price
		from sale_delivery
		where ((sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'교환'||'%') or (sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'취소'||'%')
		or (sd_customer_id = #{sd_customer_id} and sd_claim like '%'||'반품'||'%'))
		and sd_order_date between (select add_months(SYSDATE, -#{sb_searchMonth}) from dual) and (select SYSDATE from dual)
	</select>
	
	<select id="membershipStatus"
		parameterType="com.sol.mall.member.Membership"
		resultType="com.sol.mall.member.Membership">
		select *
		from membership
		where ms_csm_id = #{ms_csm_id}
	</select>
	<select id="orderListToReview"
		parameterType="com.sol.mall.sale.delivery.Delivery"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select sd_delivery_pno, sd_product_name, sd_delivery_state
		from sale_delivery
		where sd_customer_id = #{sd_customer_id} and sd_delivery_state = '구매확정'
		and sd_review is null

	</select>
	
	<select id="getOrderInfoBySd_pno"
		parameterType="com.sol.mall.sale.delivery.Delivery"
		resultType="com.sol.mall.sale.delivery.Delivery">
		select *
		from sale_delivery
		where sd_delivery_pno = #{sd_delivery_pno}
		
	</select>
	<insert id="writeProductReview" parameterType="com.sol.mall.myPage.ProductReview">
		insert into product_Review values(
		to_char(SYSDATE,'yyyyMMdd') || LPAD(product_Review_seq.nextval, 4, 0),
			#{pr_orderNo}, #{pr_csm_id}, #{pr_comment},
			#{pr_gdNo}, #{pr_gdName}, #{pr_star}, #{pr_regDate}
		)
	</insert>
	
	<update id="changeReviewState" parameterType="com.sol.mall.myPage.ProductReview">
		update sale_delivery
		set sd_review = 'Y'
		where sd_delivery_pno = #{pr_orderNo}
	</update>
	
	<select id="getWritedReview"
		parameterType="com.sol.mall.sale.delivery.Delivery"
		resultType="com.sol.mall.myPage.ProductReview">
		select *
		from product_Review
		where pr_csm_id = #{pr_csm_id}
	</select>
	
	
	<insert id="writeQuestionToSeller" parameterType="com.sol.mall.myPage.QuestionAnswer">
		insert into question_Answer values(
		to_char(SYSDATE,'yyyyMMdd') || LPAD(question_Answer_seq.nextval, 4, 0),
			#{qa_orderNo}, #{qa_csm_id}, #{qa_sl_id}, #{qa_gdNo},
			#{qa_gdName}, #{qa_questionTitle}, #{qa_questionContent}, #{qa_answer, jdbcType=VARCHAR},
			#{qa_qRegDate}, #{qa_aRegDate, jdbcType=VARCHAR}, #{qa_sort}, '미답변'
		)
	</insert>
	
	<update id="writeAnswerToCustomer" parameterType="com.sol.mall.myPage.QuestionAnswer">
		update question_Answer
		set qa_answer = #{qa_answer}, qa_aRegDate = {qa_aRegDate}, qa_check = '답변'
		where sd_delivery_pno = #{pr_orderNo}
	</update>
	
	
	<select id="searchQAByCustomerId"
		parameterType="com.sol.mall.myPage.QuestionAnswer"
		resultType="com.sol.mall.myPage.QuestionAnswer">
		select *
		from question_Answer
		where qa_csm_id = #{qa_csm_id}
	</select>
	
</mapper>