<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.mall.goods.OptionMapper">
	<select id="getOptionByGdno" parameterType="com.sol.mall.goods.Goods" resultType="com.sol.mall.goods.Option">
		select * from option_tb where op_gdno=#{gd_no}
	</select>
</mapper>