<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.mall.test.TestMapper">
	<select id="getallbasket"
		resultType="com.sol.mall.Shoppingbag.Shoppingbag"
		parameterType="com.sol.mall.Shoppingbag.Shoppingbag">
		select * from shoppingBasket
		where im_to=#{im_to}
		order by
		im_date desc
		</select>
</mapper>