@charset "EUC-KR";


.gdTb {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;/*  마진톱을 주면 접었다 펼때 옆에 스크롤바가 생기면서 흔들림  */
	width: 1400px;
}

#gdTb2 {
	border-spacing: 0;
}
.gdTb3 {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
}
.gdTd1 {
	border: #d9dadc thin solid;
	background-color: #f5f4f4;
	width: 120px;
}

.gdTd2 {
	border-bottom: #d9dadc thin solid;
	border-top: #d9dadc thin solid;
	border-right: #d9dadc thin solid;
	width: 1000px;
	padding-left: 30px;
	
}

.gdinTdleft {
	border-top: #d9dadc thin solid;
	border-left: #d9dadc thin solid;
	width: 200px;
}

.gdinTdcenter {
	border-top: #d9dadc thin solid;
	border-right: #d9dadc thin solid; border-left : #d9dadc thin solid;
	width: 200px;
	border-left: #d9dadc thin solid;
}

.gdinTdright {
	border-top: #d9dadc thin solid;
	border-right: #d9dadc thin solid;
	width: 200px
}

.gdinTdBgC {
	background-color: #f5f4f4;
}

.gdinTdBottom {
	border-bottom: #d9dadc thin solid;
}

.height{
	height:200px;
}

li {
	list-style: none;
}